# Script

In [139]:
import numpy as np
import pandas as pd

## ICUp5NewWindow24

In [140]:
df_window = pd.read_csv('./data/output/ICUp5NewWindow24.csv')
df_window.head(3)

   subject_id  day           start_time             end_time  diff_end_start
0    12088486    1  2135-02-07 03:03:00  2135-02-08 03:03:00            24.0
1    12088486    2  2135-02-08 03:03:00  2135-02-09 03:03:00            24.0
2    12088486    3  2135-02-09 03:03:00  2135-02-10 03:03:00            24.0

In [141]:
df_window.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63005 entries, 0 to 63004
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subject_id      63005 non-null  int64
 1   day             63005 non-null  int64
 2   start_time      63005 non-null  object
 3   end_time        63005 non-null  object
 4   diff_end_start  63005 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 2.4+ MB

In [142]:
df_window.describe().T

,count,mean,std,min,25%,50%,75%,max
subject_id,63005.0,1.506537e+07,2.875203e+06,10001884.0,12621244.0,15153936.0,17541976.0,19999840.0
day,63005.0,7.655091e+00,8.127624e+00,1.0,3.0,5.0,10.0,100.0
diff_end_start,63005.0,2.337211e+01,3.011440e+00,6.0,24.0,24.0,24.0,29.0

In [143]:
data_types = {
    'subject_id': 'int64',
    'day': 'int64',
    'start_time': 'datetime',
    'end_time': 'datetime'
}

In [144]:
correct_format = '%Y-%m-%d %H:%M:%S'

for col, dtype in data_types.items():
    if dtype == 'datetime':
        df_window[col] = pd.to_datetime(df_window[col], format=correct_format)
    else:
        df_window[col] = df_window[col].astype(dtype)

### A partir desse ponto iremos realizar os procedimentos referentes as extrações específicas

In [145]:
df_window.loc[:, 'registro'] = 0

## ICUp5InvasiveVentilation

In [146]:
df_invasive_ventilation = pd.read_csv('./data/input/ICUp5InvasiveVentilation.csv')
df_invasive_ventilation.head(3)

,subject_id,hadm_id,stay_id,caregiver_id,starttime,endtime,storetime,itemid,value,valueuom,...,orderid,linkorderid,ordercategoryname,ordercategorydescription,patientweight,isopenbag,continueinnextdept,statusdescription,originalamount,originalrate
0,10001884,26184834,37510196,42150.0,2131-01-11 04:40:00.000000 UTC,2131-01-12 17:40:00.000000 UTC,2131-01-12 17:49:00.000000 UTC,225792,2220.0,min,...,3830120,3830120,Ventilation,ContinuousProcess,65.0,1,0,FinishedRunning,2220.0,1
1,10001884,26184834,37510196,91332.0,2131-01-13 04:00:00.000000 UTC,2131-01-19 17:45:00.000000 UTC,2131-01-19 18:44:00.000000 UTC,225792,9465.0,min,...,4465887,4465887,Ventilation,ContinuousProcess,65.0,1,0,FinishedRunning,9465.0,1
2,10001884,26184834,37510196,91332.0,2131-01-15 04:07:00.000000 UTC,2131-01-19 17:43:00.000000 UTC,2131-01-19 18:44:00.000000 UTC,225792,6576.0,min,...,1861924,1861924,Ventilation,ContinuousProcess,65.0,1,0,FinishedRunning,6576.0,1

In [147]:
df_invasive_ventilation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7064 entries, 0 to 7063
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   subject_id                7064 non-null   int64
 1   hadm_id                   7064 non-null   int64
 2   stay_id                   7064 non-null   int64
 3   caregiver_id              6452 non-null   float64
 4   starttime                 7064 non-null   object
 5   endtime                   7064 non-null   object
 6   storetime                 7064 non-null   object
 7   itemid                    7064 non-null   int64
 8   value                     7064 non-null   float64
 9   valueuom                  7064 non-null   object
 10  location                  0 non-null      float64
 11  locationcategory          0 non-null      float64
 12  orderid                   7064 non-null   int64
 13  linkorderid               7064 non-null   int64
 14  ordercategoryname         7064 non-null   object
 15  ordercategorydescription  7064 non-null   object
 16  patientweight             7064 non-null   float64
 17  isopenbag                 7064 non-null   int64
 18  continueinnextdept        7064 non-null   int64
 19  statusdescription         7064 non-null   object
 20  originalamount            7064 non-null   float64
 21  originalrate              7064 non-null   int64
dtypes: float64(6), int64(9), object(7)
memory usage: 1.2+ MB

In [148]:
data_types = {
    'subject_id': 'int64',
    'starttime': 'datetime',
    'endtime': 'datetime',
    'itemid': 'int64',
}

In [149]:
correct_format = '%Y-%m-%d %H:%M:%S.%f UTC'

for col, dtype in data_types.items():
    if dtype == 'datetime':
        df_invasive_ventilation[col] = pd.to_datetime(df_invasive_ventilation[col], format=correct_format)
    else:
        df_invasive_ventilation[col] = df_invasive_ventilation[col].astype(dtype)
        
df_invasive_ventilation = df_invasive_ventilation[data_types.keys()]
        
df_invasive_ventilation.head(3)

   subject_id           starttime             endtime  itemid
0    10001884 2131-01-11 04:40:00 2131-01-12 17:40:00  225792
1    10001884 2131-01-13 04:00:00 2131-01-19 17:45:00  225792
2    10001884 2131-01-15 04:07:00 2131-01-19 17:43:00  225792

In [150]:
for subject_id in df_invasive_ventilation.subject_id.unique():
    if df_window[df_window.subject_id == subject_id].shape[0]:
        start_time = df_invasive_ventilation[df_invasive_ventilation.subject_id == subject_id].starttime.to_list()
        end_time = df_invasive_ventilation[df_invasive_ventilation.subject_id == subject_id].endtime.to_list()
        
        df_temp = df_window[df_window.subject_id == subject_id]
        df_temp = df_temp[df_temp.end_time.notnull()]
        
        for start_item, end_item in zip(start_time, end_time):
            for index, row in df_temp.iterrows():
                if (start_item <= row.start_time < end_item or start_item <= row.end_time < end_item) \
                    or (row.start_time <= start_item < row.end_time or row.start_time <= end_item < row.end_time):
                    df_window.loc[index, 'registro'] = 1

In [151]:
df_window.head(3)

,subject_id,day,start_time,end_time,diff_end_start,registro
0,12088486,1,2135-02-07 03:03:00,2135-02-08 03:03:00,24.0,1
1,12088486,2,2135-02-08 03:03:00,2135-02-09 03:03:00,24.0,1
2,12088486,3,2135-02-09 03:03:00,2135-02-10 03:03:00,24.0,1

## ICUpatients5

In [152]:
df_patients = pd.read_csv('./data/input/ICUpatients5.csv')
df_patients.head(3)

,subject_id,hadm_id,stay_id,gender,anchor_age,admittime,intime,outtime,deathtime,intervaloAdmIntUTI,tempoUTI,race,pesoadm,unidpesoadm,altura,unidaltura,imc
0,12088486,29875103,39348271,M,18,2135-02-07 02:57:00 UTC,2135-02-07 03:03:00 UTC,2135-02-12 00:25:00 UTC,2135-02-11 00:01:00 UTC,0,117,UNABLE TO OBTAIN,71.8,kg,178.0,cm,-99.9
1,19850244,27972658,32398411,F,18,2162-06-04 17:38:00 UTC,2162-06-05 15:25:42 UTC,2162-06-09 20:22:03 UTC,NaN,21,100,OTHER,57.7,kg,163.0,cm,-99.9
2,10562205,20149612,34317198,M,18,2149-04-29 23:19:00 UTC,2149-04-30 00:58:00 UTC,2149-05-09 20:54:46 UTC,NaN,1,235,WHITE,98.0,kg,180.0,cm,-99.9

In [153]:
data_types = {
    'subject_id': 'int64',
    'intime': 'datetime',
    'outtime': 'datetime',
}

In [154]:
correct_format = '%Y-%m-%d %H:%M:%S UTC'

for col, dtype in data_types.items():
    if dtype == 'datetime':
        df_patients[col] = pd.to_datetime(df_patients[col], format=correct_format)
    else:
        df_patients[col] = df_patients[col].astype(dtype)
        
df_patients = df_patients[data_types.keys()]

In [155]:
df_patients.loc[:, 'VMRegistro'] = 0
df_patients.loc[:, 'VMInicio'] = 0
df_patients.loc[:, 'VMReintubacao'] = 0
df_patients.loc[:, 'VMTempoPermanencia'] = 0
df_patients.loc[:, 'ProporcaoVMTempoPermanencia'] = 0
df_patients.loc[:, 'VMTempoDesmame'] = 0

In [156]:
def get_registro_vm(row: pd.Series) -> int:
    
    if df_window.query("subject_id == @row.subject_id and registro == 1").shape[0]:
        return 1
    
    return 0

def get_vm_inicio(row: pd.Series) -> int:
    """
    Categorizar em faixas:
    0 - Sem registor de VM durante o período de internamento;
    1 - Primeiro registro de VM encontrado em até 24hrs (<=) a partir da data de internamento (intime no MIMIC);
    2 - Primeiro registro de VM encontrado entre 24hrs (>) e 48hrs (<=) a partir da data de internamento (intime no MIMIC);
    3 - Primeiro registro de VM encontrado entre 48hrs (>) e 72hrs (<=) a partir da data de internamento (intime no MIMIC);
    4 - Primeiro registro de VM encontrado entre 72hrs (>) a partir da data de internamento (intime no MIMIC).
    """
    
    index = df_window.query("subject_id == @row.subject_id and registro == 1").sort_values('day', ascending=True).index
    
    for ix in index:
        if day := df_window.loc[ix].day:
            if day <= 1:
                return 1
            elif day <= 2:
                return 2
            elif day <= 3:
                return 3
            else:
                return 4
    
    return 0

def get_vm_reintubacao(row: pd.Series) -> int:
    """
    No MIMIC-IV significa que o paciente apresenta mais de 1 registro de VM onde ele sai da ventilação mecânica (endtime) e entra novamente após 72hrs. (start_time do registro imediatamente subsequente).
    Valores possíveis:
    0 - Não houve registro de re-intubação durante o período de internamento;
    1 - Houve registro de re-intubação durante o período de internamento.
    """
    
    index = df_window.query("subject_id == @row.subject_id and registro == 1").sort_values('day', ascending=True).index
    
    # Difference == 1, significa que o paciente continuou na ventilação
    # Difference == 2, significa que o paciente saiu da ventilação e entrou novamente até 24hrs
    # Difference == 3, significa que o paciente saiu da ventilação e entrou novamente 24hrs < x <= 48hrs
    # Difference == 4, significa que o paciente saiu da ventilação e entrou novamente 48hrs < x <= 72hrs
    # Difference > 4, significa que o paciente saiu da ventilação e entrou novamente após mais de 72hrs
    
    if not index.shape[0]:
        return 0
    
    for i in range(1, index.shape[0]):
        day_1 = df_window.loc[index[i - 1], 'day']
        day_2 = df_window.loc[index[i], 'day']
        
        difference = np.abs(day_1 - day_2)
        if difference > 4:
            return 1

    return 0

def get_vm_tempo_permanencia(row: pd.Series) -> int:
    """
    Gerar mapa diária de janelas de 24hrs com algum registro de VM.
    Obs:. Quando start_time estiver dentro de 1 janela de 24hrs e end_time em outra, registrar uso de VM na janela onde o start_time estiver enquadrado, na janela onde o end_time estiver enquadrado e em todas as janelas entre uma e outra.
    Quando houver episódios de re-intubação, somar a quantidade de dias em que o paciente fica entubado em cada episódio.
    Categorizar em faixas:
    0 - Não teve uso ou não foi encontrada anotação;
    1 - 0 < x <= 25%;
    2 - 25% < x <= 50%;
    3 - 50% < x <= 75%;
    4 - 75% < x <= 100%.
    """
    index = df_window.query("subject_id == @row.subject_id and registro == 1").sort_values('day', ascending=True).index
    days_on_icu = df_window[df_window.subject_id == row.subject_id].index.shape[0]
    
    # Difference == 1, significa que o paciente continuou na ventilação
    # Difference == 2, significa que o paciente saiu da ventilação e entrou novamente até 24hrs
    # Difference == 3, significa que o paciente saiu da ventilação e entrou novamente 24hrs < x <= 48hrs
    # Difference == 4, significa que o paciente saiu da ventilação e entrou novamente 48hrs < x <= 72hrs
    # Difference > 4, significa que o paciente saiu da ventilação e entrou novamente após mais de 72hrs
    
    if not index.shape[0]:
        return 0, 0

    start_window = [index[0]]
    end_window = []

    for i in range(1, index.shape[0]):
        day_1 = df_window.loc[index[i - 1], 'day']
        day_2 = df_window.loc[index[i], 'day']
        
        difference = np.abs(day_1 - day_2)
        if difference > 4:
            start_window.append(index[i])
            end_window.append(index[i-1])

    end_window.append(index[-1])

    registros_vm = 0
    for start, end in zip(start_window, end_window):
        start_day = df_window.loc[start, 'day']
        end_day = df_window.loc[end, 'day']
        
        difference = np.abs(start_day - end_day) + 1

        registros_vm += difference
        
    proportion = registros_vm/days_on_icu
    
    if 0 < proportion <= 0.25:
        return 1, proportion
    
    if 0.25 < proportion <= 0.50:
        return 2, proportion
    
    if 0.50 < proportion <= 0.75:
        return 3, proportion
    
    if 0.75 < proportion <= 1:
        return 4, proportion
    
    return -1, None

def get_vm_tempo_desmame(row: pd.Series) -> int:
    """
    Para cada episódio de intubação/re-intubação, contar a quantidade de dias desde o primeiro dia que ele sai da ventilação mecânica até o último dia de registro da ventilação mecânica do episódio.
    Depois somar a quantidade de dias de desmame obtida em cada episódio.
    Se o paciente sai e não volta ou re-intuba, enquadrar na faixa "até 24hrs".
    Categorizar em faixas:
    0 - Não teve uso ou não foi encotrada anotação;
    1 - Até 24hrs (<=);
    2 - Entre 24hrs (>) e 48hrs (<=);
    3 - Entre 48hrs (>) e 72hrs (<=);
    4 - Acima de 72hrs (>).
    """
    index = df_window.query("subject_id == @row.subject_id and registro == 1").sort_values('day', ascending=True).index
    
    if not index.shape[0]:
        return 0
    
    # Difference == 1, significa que o paciente continuou na ventilação
    # Difference == 2, significa que o paciente saiu da ventilação e entrou novamente até 24hrs
    # Difference == 3, significa que o paciente saiu da ventilação e entrou novamente 24hrs < x <= 48hrs
    # Difference == 4, significa que o paciente saiu da ventilação e entrou novamente 48hrs < x <= 72hrs
    # Difference > 4, significa que o paciente saiu da ventilação e entrou novamente após mais de 72hrs
    
    if index.shape[0] == 1:
        return 1

    start_window = [index[0]]
    end_window = []
    for i in range(1, index.shape[0]):
        day_1 = df_window.loc[index[i - 1], 'day']
        day_2 = df_window.loc[index[i], 'day']
        
        difference = np.abs(day_1 - day_2)
        if difference > 4:
            start_window.append(index[i])
            end_window.append(index[i-1])

    end_window.append(index[-1])

    contador = 0
    for start, end in zip(start_window, end_window):
        for i in range(start, end+1):
            if not df_window.loc[i, 'registro']:
                registro_final = df_window.loc[end, 'day']
                registro_atual = df_window.loc[i, 'day']
                
                contador += (np.abs(registro_final - registro_atual) + 1)
                break

    contador += len(start_window)
        
    if contador == 1:
        return 1
    if contador == 2:
        return 2
    elif contador == 3:
        return 3
    elif contador > 4:
        return 4

    return 1

In [157]:
df_patients.loc[:, 'VMRegistro'] = df_patients.apply(get_registro_vm, axis=1)

In [158]:
df_patients.VMRegistro.value_counts()

VMRegistro
1    5918
0    1575
Name: count, dtype: int64

In [159]:
df_patients.loc[:, 'VMInicio'] = df_patients.apply(get_vm_inicio, axis=1)

In [160]:
df_patients.VMInicio.value_counts()

VMInicio
1    5225
0    1575
2     327
4     220
3     146
Name: count, dtype: int64

In [161]:
df_patients.loc[:, 'VMReintubacao'] = df_patients.apply(get_vm_reintubacao, axis=1)

In [162]:
df_patients.VMReintubacao.value_counts()

VMReintubacao
0    7404
1      89
Name: count, dtype: int64

In [163]:
result = df_patients.apply(get_vm_tempo_permanencia, axis=1)
df_patients.loc[:, 'VMTempoPermanencia'] = [x[0] for x in result]
df_patients.loc[:, 'ProporcaoVMTempoPermanencia'] = [x[1] for x in result]

In [164]:
df_patients.VMTempoPermanencia.value_counts()

VMTempoPermanencia
4    2172
0    1575
2    1312
3    1280
1    1154
Name: count, dtype: int64

In [165]:
df_patients.loc[:, 'VMTempoDesmame'] = df_patients.apply(get_vm_tempo_desmame, axis=1)

In [166]:
df_patients.VMTempoDesmame.value_counts()

VMTempoDesmame
1    5571
0    1575
4     251
2      73
3      23
Name: count, dtype: int64

## Finalizando

In [167]:
df_final = df_patients.reset_index()[['subject_id', 'intime', 'outtime', 'VMInicio', 'VMReintubacao', 'VMTempoPermanencia', 'ProporcaoVMTempoPermanencia', 'VMTempoDesmame']]
df_final.head()

,subject_id,intime,outtime,VMInicio,VMReintubacao,VMTempoPermanencia,ProporcaoVMTempoPermanencia,VMTempoDesmame
0,12088486,2135-02-07 03:03:00,2135-02-12 00:25:00,1,0,4,1.00,1
1,19850244,2162-06-05 15:25:42,2162-06-09 20:22:03,1,0,3,0.75,1
2,10562205,2149-04-30 00:58:00,2149-05-09 20:54:46,1,0,4,1.00,1
3,17840418,2129-01-14 08:00:00,2129-01-17 16:52:18,0,0,0,0.00,0
4,17590005,2134-03-03 03:47:56,2134-03-06 16:58:23,0,0,0,0.00,0

In [168]:
df_final.to_csv('./data/output/ICUp5VentilacaoMecanica.csv', index=False)